<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458660711802-gbob2500n7s7qgqbii1ufo5eot5lsd10.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458660711802-gbob2500n7s7qgqbii1ufo5eot5lsd10</string>
	<key>API_KEY</key>
	<string>AIzaSyCn3D_WP7jr6AXLgYHMwjhI5B65omwPP1c</string>
	<key>GCM_SENDER_ID</key>
	<string>458660711802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PercyNgan.LambdaTimeLine</string>
	<key>PROJECT_ID</key>
	<string>mymovies-c6c11</string>
	<key>STORAGE_BUCKET</key>
	<string>mymovies-c6c11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458660711802:ios:cf6e996ab9452c759c5ac3</string>
	<key>DATABASE_URL</key>
	<string>https://mymovies-c6c11.firebaseio.com</string>
</dict>
</plist>