<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>408849830962-1k5k0es64ef2la2sa67att0u07tosd87.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408849830962-1k5k0es64ef2la2sa67att0u07tosd87</string>
	<key>API_KEY</key>
	<string>AIzaSyBykBDXjQrcDxtFZPQ4RymzQ_Ahx9ag6Es</string>
	<key>GCM_SENDER_ID</key>
	<string>408849830962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.morgansmith.timeline</string>
	<key>PROJECT_ID</key>
	<string>morgan-s-timeline</string>
	<key>STORAGE_BUCKET</key>
	<string>morgan-s-timeline.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408849830962:ios:c98be8ae0f90273ff3d82b</string>
	<key>DATABASE_URL</key>
	<string>https://morgan-s-timeline.firebaseio.com</string>
</dict>
</plist>