<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24996512693-k6hkkjasstvnevadb9ma7mr1heurjrie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24996512693-k6hkkjasstvnevadb9ma7mr1heurjrie</string>
	<key>API_KEY</key>
	<string>AIzaSyCQkDeAeihcbItr3lbP1758BHZ7265YHx8</string>
	<key>GCM_SENDER_ID</key>
	<string>24996512693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.IsaacLyons.LambdaTimeline</string>
	<key>PROJECT_ID</key>
	<string>lambdatimeline-89e2e</string>
	<key>STORAGE_BUCKET</key>
	<string>lambdatimeline-89e2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24996512693:ios:7bf163607f2aa54ba04ffc</string>
	<key>DATABASE_URL</key>
	<string>https://lambdatimeline-89e2e.firebaseio.com</string>
</dict>
</plist>