<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993909721702-pnr028jfscvorolngdjc3fuf7dpiaiv3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993909721702-pnr028jfscvorolngdjc3fuf7dpiaiv3</string>
	<key>API_KEY</key>
	<string>AIzaSyC4BrZNLadEIngOBrrK4pav16mFA38mED0</string>
	<key>GCM_SENDER_ID</key>
	<string>993909721702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ufuk.LambdaTimeline</string>
	<key>PROJECT_ID</key>
	<string>journalios14</string>
	<key>STORAGE_BUCKET</key>
	<string>journalios14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993909721702:ios:c0093d855f01c846ff3ba7</string>
	<key>DATABASE_URL</key>
	<string>https://journalios14.firebaseio.com</string>
</dict>
</plist>