<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1064562801193-p1airuaevne1cj042lhk9856upt0t5ec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1064562801193-p1airuaevne1cj042lhk9856upt0t5ec</string>
	<key>API_KEY</key>
	<string>AIzaSyApdvHvkrqdmt0RtP2kTwfuuKjyFcIzIHg</string>
	<key>GCM_SENDER_ID</key>
	<string>1064562801193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.EnriqueGongora.LambdaTimeline</string>
	<key>PROJECT_ID</key>
	<string>lambdatimeline-f1afb</string>
	<key>STORAGE_BUCKET</key>
	<string>lambdatimeline-f1afb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064562801193:ios:21d12af61daf64f8c73a38</string>
	<key>DATABASE_URL</key>
	<string>https://lambdatimeline-f1afb.firebaseio.com</string>
</dict>
</plist>