<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198913210409-rb5l163mkrsbhuacr3f53vbndvif18t8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198913210409-rb5l163mkrsbhuacr3f53vbndvif18t8</string>
	<key>API_KEY</key>
	<string>AIzaSyBjcR8GlWmCMTQ1wgYuyGlJlhM0rtjnvSA</string>
	<key>GCM_SENDER_ID</key>
	<string>198913210409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ciaranotclara.LambdaTimeline</string>
	<key>PROJECT_ID</key>
	<string>cc-lambda-timeline</string>
	<key>STORAGE_BUCKET</key>
	<string>cc-lambda-timeline.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198913210409:ios:104fa6f4207d4f61978438</string>
	<key>DATABASE_URL</key>
	<string>https://cc-lambda-timeline.firebaseio.com</string>
</dict>
</plist>