<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>859933389570-r5dukggigb9lc015cm8csd0s45vnnhub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859933389570-r5dukggigb9lc015cm8csd0s45vnnhub</string>
	<key>API_KEY</key>
	<string>AIzaSyCHfTXLDP4kUGVBhdvaG8sXya4XJ3hANI0</string>
	<key>GCM_SENDER_ID</key>
	<string>859933389570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joshuarutkowski.LambdaTimeline</string>
	<key>PROJECT_ID</key>
	<string>lambdatime-e4f50</string>
	<key>STORAGE_BUCKET</key>
	<string>lambdatime-e4f50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859933389570:ios:543cd6d6369c78a949081b</string>
	<key>DATABASE_URL</key>
	<string>https://lambdatime-e4f50.firebaseio.com</string>
</dict>
</plist>