<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>521923802467-tpdkp9hssbam7m34th17j64thu47pam8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521923802467-tpdkp9hssbam7m34th17j64thu47pam8</string>
	<key>API_KEY</key>
	<string>AIzaSyBDLqleYc-S5jGRP3l6tb2FlUplHEkK4aA</string>
	<key>GCM_SENDER_ID</key>
	<string>521923802467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SkylerSuzuki.LambdaTimeline</string>
	<key>PROJECT_ID</key>
	<string>ios-lambdatimeline-ss</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-lambdatimeline-ss.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521923802467:ios:2d35c113fce7010e478f56</string>
	<key>DATABASE_URL</key>
	<string>https://ios-lambdatimeline-ss.firebaseio.com</string>
</dict>
</plist>