<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>289503281805-4iqm22s50fcfh37sg40ilig9ve5stovq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289503281805-4iqm22s50fcfh37sg40ilig9ve5stovq</string>
	<key>API_KEY</key>
	<string>AIzaSyDHawwQ_r3QM_p6gNqrQNDDqMPKRtOnQh4</string>
	<key>GCM_SENDER_ID</key>
	<string>289503281805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LisaSampson.LambdaTimeline</string>
	<key>PROJECT_ID</key>
	<string>lambdatimelinelisa</string>
	<key>STORAGE_BUCKET</key>
	<string>lambdatimelinelisa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289503281805:ios:538da7d80c3654b8</string>
	<key>DATABASE_URL</key>
	<string>https://lambdatimelinelisa.firebaseio.com</string>
</dict>
</plist>